header {
    background-color: blue;
    box-shadow: 0px 5px 15px 4px rgba(0,0,0,0.45)
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 30px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

header nav ul li a:hover {
    color: white;
    text-decoration: none;
}

.language-selector {
    margin-left: 100px;
    display: flex;
}

.language-selector div {
    cursor: pointer;
    margin: 5px;
    background-color: yellow;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
}

.language-selector div:hover { 
    background-color: honeydew;
    color: red;
}